---
layout: default
---
<div class="source-code-comment">
  See <a href="#source-code-comment">below</a> for instructions on checking out the code.
</div>
<div>
  {{content}}
</div>

<hr>

<div>
  <h3>Getting the Source</h3>
  <a name="source-code-comment"></a>
  <p>
    Source code for this section can be cloned from <a href="https://github.com/danielsomerfield/apigee-tutorial">GitHub</a> with the command:
    {% highlight bash %}
      git clone https://github.com/danielsomerfield/apigee-tutorial.git
    {% endhighlight %}
    If you already have the source, you can switch to the correct tag with the following:
    {% highlight bash %}
    git checkout {{page.tag}}
    {% endhighlight %}

    Feel free to create a fork of the code and create pull requests for any
    proprosed changes to the tutorial.
  </p>
</div>
